<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <a href="/" style="text-decoration:none"><h1>Traveler's Guide</h1></a>
    <h2>Get recommendations for things to do at any location</h2>
    <div class="container">
        <h3>Select from the following:</h3>
        <a href="/locationRecom"><button style = "width: 500px;">Locate Me</button></a>
        <a href="/searchRecom"><button style = "width: 500px;">Search Location</button></a>
        <a href="/scheduleRecom"><button style = "width: 500px;">Schedule</button></a>
    </div>
</body>
</html>
