<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Traveler's Guide</h1>
    <h2>Get recommendations for things to do at any location</h2>
    <div class="home_nav">
        <h3>Select from the following:</h3>
        <a href="/locationRecom"><button>Locate Me</button></a>
        <a href="/searchRecom"><button>Search Location</button></a>
        <a href="/scheduleRecom"><button>Schedule</button></a>
    </div>
</body>
</html>
